<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" lang="en">
    <title>${title} - ${sitetitle}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="${author}">
    <meta name="description" content="${description}">
    <link rel="stylesheet" type="text/css" href="/pub/style.css">
  </head>
  <body>
    <div id="header">
      <h1 class="title">${title}</h1>
    </div>
    <div id="menu">
      <ul>
        <li><a href="/">Homepage</a></li>
	<li><a href="/articles/index.html">Articles</a></li>
	<ul>
          <li><a href="/articles/cell_phones.html">Cell phones are evil</a></li>
          <li><a href="/articles/plan9.html">Plan 9</a></li>
	  <li><a href="/articles/read_more.html">Read more books</a></li>
	  <li><a href="/articles/static.html">Static website management</a></li>
	</ul>
	<li><a href="/CBI2021/index.html">CBI - 2021</a></li>
      </ul>
    </div>
    <div id="main">
