body {
	background-color: #282828;
	color: #d5c4a1;
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 0.2fr 3fr 0.5fr;
	grid-template-areas:
		"header header"
		"menu main"
		"menu footer";
	grid-row-gap: 10px;
}

a {
	color: #83a598;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#main {
	grid-area: main;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}

#main img {
	max-width: 100%;
	height: auto;
	float: right;
}

#menu {
  clear: both;
  float: left;
  padding: 0.7ex;
  width: 300px;
  grid-area: menu;
}

#menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header {
  text-align: center;
  clear: both;
  padding: 0.7ex 0.7ex 0.7ex 0.7em;
  border-bottom: 1px solid #d5c4a1;
  grid-area: header;
}

#footer {
	border-top: 1px solid #d5c4a1;
	padding: 5px;
  font-size: 11px;
  clear: left;
  position: relative;
  text-align: center;
  grid-area: footer;
}

#quote {
  text-align: center;
  margin: 10px;
  border-bottom: 0.5px dotted #ccc;
  border-top: 0.5px dotted #ccc;
}

pre {
	background-color: #1d2021;
	border: 1px solid #d5c4a1;
	border-radius: 5px;
	color: white;
	padding: 1em;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	max-width: 600px;
	margin: auto;
}

@media only screen and (max-width:550px){
	body {
		margin: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 0.5fr 2fr 3fr 0.8fr;
		grid-template-areas:
			"header"
			"menu"
			"main"
			"footer"
	}
	#main {
	    max-width: 100%;
	}
	#main img {
		float: none;
	}
}
